# Easier navigation: .., ..., ...., ....., ~ and -

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# Shortcuts

alias g="git"
alias h="history"
alias j="jobs"

# Get week number

alias week='date +%V'

# Stopwatch

alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages

alias update='sudo softwareupdate -i -a; brew update; brew upgrade ; brew cleanup; '

# IP addresses

alias localip="ipconfig getifaddr en0"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon

# (useful when executing time-consuming commands)

alias badge="tput bel"

# tailscale
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
