"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  "linter-ui-default":
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
